* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input {
    height: 30px;
    width: 30px;
    margin-bottom: -20px;
}

.dark-mode {
    background-color: #000;
    color: #fff;
    border-color: #eee;
}

h1 {
    text-align: left;
    font-family: times, serif;
    font-size: 1.5rem;
    margin-left: 1rem;
}

h3 {
    font-family: Georgia, serif;
}


/* small view navigation */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ecb89a;
    padding: 20px;
    width: 100%;
    z-index: 1;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.list-1,
.list-1 a {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-right: 10px;
    text-decoration: none;
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    color: #0000;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    font-size: large;
    font-weight: 700;
}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
    display: block;
}

.active::before {
    content: "👀";
    /* just a wayfinding symbol for the user */
}

.hero-text a {
    border: 1px solid #ecb89a;
    background-color: #431eca;
    color: white;
    font-family: Georgia, serif;
    padding: 20px;
    text-decoration: none;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 2px 2px 22px #37353f;
}

.hero-text a:hover {
    background-color: #251e1a;
    color: rgb(18, 103, 177);
}

.img-1 img {
    height: 70px;
    width: 70px;
    padding: 30px;
}

.hero-img {
    position: relative;
}

.hero-img img {
    margin-top: 110px;
    width: 100%;
    height: auto;

}


main {
    margin: 0 auto;
    padding: 20px;
    padding: 20px;
    max-width: 1200px;
}

.invite-message {
    position: absolute;
    background-color: #e4cece;
    padding: 20px;
    border: solid 3px red;
    line-height: 1.4rem;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 130px;
    right: 50px;
    display: none;
}

.invite-message h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 15px;
}

.meeting-btn {
    position: absolute;
    right: 5px;
    top: 5px;
}

/* discover page css*/


.section-cardd {
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 1.8rem;

}

.section-cardd p {
    padding: 15px;
}

.section-cardd h1 {
    line-height: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    margin-top: 30px;
}

.div-card {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1px;
}

.card {
    background-color: #f1f1f1;
    padding: 20px;
    box-shadow: 0px 3px 5px #b1b0b3;
    line-height: 1.8rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
    margin-bottom: 20px;
    list-style: none;
}

.events {
    margin-left: 50px;
    padding: 50px;
    line-height: 1.8rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

.events h2 {
    margin-bottom: 15px;
}

.excos h2 {
    margin-bottom: 30px;
    margin-left: 70px;
}

.card-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-top: 50px;
    gap: 50px;
}

.card-11 {
    background-color: #f1f1f1;
    box-shadow: 0px 3px 5px #b1b0b3;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 2rem;
    text-align: center;
}

.card-11 h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card li {
    list-style-type: none;
}

.excos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    row-gap: 50px;
    margin-top: 30px;
    margin-left: 22px;

}


footer {
    margin-top: 20px;
    padding: 50px;
    background-color: #ecb89a;
    justify-content: space-between;
}

.most-last {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.last {
    display: flex;
    gap: 20px;
    color: rgba(255, 0, 0, 0.945);
    line-height: 2rem;
    justify-content: space-between;
}

/* discover page css*/
aside {
    margin-left: 20px;
    border: solid 1px;
    box-shadow: 0px 3px 5px #37353f;
}

.aside-div {
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 10px;
}

aside button {
    height: 50px;
    width: 100px;
    background-color: #585757;
    color: white;
    border-radius: 5px;
    border: 0;
}

.aside-div h4 {
    margin-bottom: 15px;
    text-align: center;
}

#m-discover {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 130px;
    gap: 20px;
}

#m-discover h3 {
    margin-top: 10px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#m-discover p {
    line-height: 1.5rem;
    margin-top: 10px;
    padding: 10px;
}

#discover {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

#m-discover img {
    width: 100%;
    height: auto;
    ;
    border-radius: 5px;
}

.numvisit {
    margin-top: 20px;
    background-color: #eef5ec;
    text-align: center;
    padding: 20px;
    box-shadow: 2px 2px 22px #37353f;
}

.aside-div img {
    padding: 20px;

}

#discover:hover {
    opacity: 0.3;
    zoom: 0.9;
    transition-duration: 2s;
}

#discover h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 25px;
    text-align: center;
}



/* join form design.*/



.conform fieldset {
    margin: 2rem;
    border: 1px solid #dddd;
    border-radius: 6px;
    padding: .5rem 2%;
}

.conform legend {
    color: #d35603;
    padding: 0 .5rem;
}

.conform label {
    display: block;
    padding-top: 1rem;
    color: #050772;
}

.conform div {
    padding-top: 1rem;
    color: #445ba5;
    font-size: .9rem;
}

.conform input[type="text"],
.conform input[type="tel"],
.conform input[type="email"],
.conform input[type="number"] {
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
}

.conform input[type="radio"] {
    margin-right: 6px;
}

.conform input:required {
    border-right: solid 5px rgb(255, 6, 6);
}

.conform input:required:valid {
    border-right: solid 5px rgb(7, 170, 7);
}

.member {
    color: #d35603;
    margin-top: 20px;
}

.form-div {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.div-form {
    padding-top: 150px;
    margin-left: 50px;
    margin-right: 50px;
}

.div-form h3 {
    font-family: Georgia, serif;
    margin-bottom: 20px;
}

.div-form p {
    font-family: Georgia, serif;
    line-height: 1.5rem;
    margin-bottom: 20px;
}

.allmembership {
    display: none;
}

.btn {

    width: 87%;
    margin: 2% 2rem 2%;
    height: 50px;
    border: none;
    background-image: linear-gradient(#179b17, #135706);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    box-shadow: 1px 1px 4px #999;
    appearance: none;
}

/* week 9 */

.directory-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    padding: 15px;
    margin-top: 30px;
}

.menu {
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: rgb(230, 230, 230);
    text-align: center;
    color: black;
    margin-top: 120px;
}

.menu button {
    padding: 1rem;
    font-weight: 700;
}

.directory-card section {
    box-shadow: 0px 1px 4px 1px;
    padding: 10px;
}

.directory-card p,
h3 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5rem;

}

.directory-card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.directory-card h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.directory-card a {
    display: block;
    text-align: center;
    text-decoration: underline;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 1fr 2fr 2fr 1fr 1fr;
    margin: 0;
    padding: 0.25rem;
    text-align: center;
}

.list section>* {
    margin: 0 1rem;
}

.list section img {
    display: none;
}

.list section:nth-child(even) {
    background-color: rgb(230, 230, 230);
}

.list section h3 {
    font-size: 1rem;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section p {
    font-weight: 500;
    font-size: smaller;
}


/* small view navigation ************************************/
@media (max-width: 530px) {

    .section-card,
    .card-1,
    .div-card,
    .section-div,
    .section-cardd {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        justify-content: flex-end;
        align-items: center;

    }

    .hr-1 {
        margin-top: 15px;
    }

    .section-cardd p {
        line-height: 1.5rem;
    }

    .section-cardd img {
        display: none;
    }

    .section-cardd h1 {
        margin-left: 20px;
        line-height: 2rem;
    }

    #m-discover {
        display: grid;
        grid-template-columns: 1fr;
    }

    #discover img {
        padding: 0;
        padding-top: 10px;
    }

    .hero-img {
        position: relative;
    }

    .hero-img img {
        margin-top: 150px;
    }

    .hero-text a {
        padding: 5px;
        font-size: 15px;
        position: absolute;
        top: 65%;
        left: 35%;
    }
}