/* Larger Views ******************************/
@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
    .large                                                               {
        display: grid;
        grid-template-columns: 1fr 300px;
        gap: 20px;
    }

}